<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/jquery.bxslider.css">
		
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<ul class="topMenu">
						<li><a href="index.html">Incio</a></li>
						<li class="active"><a href="about.html">¿Quienes somos?</a></li>
						<li><a href="#">Productos</a></li>
						<li>
							<a href="statistics.html">Estadísticas</a>
						</li>
						<li><a href="offers.html">Subastas y ofertas especiales</a>
							<ul class="submenu">
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>				
						</li>
						<li><a href="contacts.html">Contactenos</a></li>
						<li><a href="support.html">Soporte</a></li>
					</ul>
					<div class="signIn">
						<a href="#">Iniciar sesión</a>
					</div>
					<div class="signInForm clearfix">
						<div class="signInFormWrap">
							<ul class="signInForm_links">
								<li><a href="#">Registrarse</a></li>
								<li><a href="#">Registaurar contraseña</a></li>
							</ul>
							<form action="" method="post">
								<div><input type="text" placeholder="Nombre de usuario" value="" name="name" id="name" required="required"></div>
								<div><input type="text" placeholder="Contraseña" value="" name="password" id="password" required="required"></div>
								<div class="button"><input type="button" value="Aplicar"></div>
							</form>
						</div>
					</div>					
				</header>
				<img src="img/topimg.jpg" />
			
				
			</div>				
			<div id="body">
				<div class="text info_block">
					<div class="info_block_title info_block_left tac">
						¿Quiénes somos?
						<img src="img/video.jpg" />
					</div> 
					<div class="info_block_text">
						<p>En MedicJoint creemos en desafiar las viejas reglas y tiempos del mercado, porque respetamos la vida, el esfuerzo y el trabajo. Es esencial que nuestra industria, ícono ancestral de nobleza y profesionalismo, regrese a sus valores originales de respeto a la vida y a la salud.</p> 
						<p>Entendemos que el único camino para esta cambio es la consolidación de una alianza por el libre mercado y la creación de un ambiente de respeto, transparencia y eficiencia donde las transacciones se rijan por la libre competencia. Un ambiente donde la verdadera diferencia sea el gran esfuerzo que realizan los integrantes de esta industria al desarrollar nuevos medicamentos, agregar valor a sus productos y ofrecer los mejores precios. Es fundamental garantizar que estos beneficios impacten directa y positivamente la salud y la calidad de vida de nuestros clientes finales.</p>
						<p>Por ello, hemos creado un mercado en línea con condiciones de libre competencia para la industria farmacéutica. Donde se ofrecen en igualdad de condiciones una gran variedad de productos, se llevan a cabo subastas de lotes de medicamentos, se encuentra en información en tiempo real de precios actuales e históricos. Aquí, las instituciones de Salud tanto del sector publico como del privado pueden realizar sus adquisiciones haciendo uso de las herramientas logísticas e informáticas de última generación que ponemos a su disposición de manera inmediata y oportuna.</p>
						<p>En resumen, somos un mercado en línea que responde a la velocidad de respuesta que requiere la industria médica, donde el precio, la calidad y el nivel de servicio son una garantía.</p>
						<h2>Nuestra Misión</h2>
						<p>MedicJoint se creó para beneficiar la salud y calidad de vida de la gente al desafiar las viejas reglas de mercado de medicamentos creando un mercado en línea que promueva la libre competencia.</p>
						<h3>Nuestra Visión</h3>
						<ul class="list">
							<li>Ser el mercado en línea especializado en productos para la salud número uno del país.</li> 
							<li>Lograr un alianza por un libre mercado de medicamentos que contará con un 90% de los laboratorios farmacéuticos del mercado.</li> 
							<li>Contar con una red nacional de almacenes, centros de distribución y sistemas logísticos para hacer que el sistema de salud en México sea el más eficiente de América Latina.</li> 
							<li>Ser el portal a través del cual se de proveeduría del 70% de las farmacias, 90% de instituciones de salud, tanto de gobierno como privadas.</li>
							<li>Ser el principal proveedor de compras de emergencia del sector.</li>
						</ul>
						<h3>Nuestros Valores</h3>
						<ul class="list">
							<li>Respeto por la vida y la salud</li> 
							<li>Eficiencia</li> 
							<li>Innovación</li> 
							<li>Flexibilidad</li> 
							<li>Honestidad</li> 
							<li>Compromiso</li> 
							<li>Diversidad</li> 
							<li>Respeto y Humildad</li> 
							<li>Trabajo en equipo</li> 
						</ul>						
					</div>	
				</div>
				<div class="title">Noticias</div>	
				<div class="newsBlock clearfix">
					<div class="newsBlock_item">
						<div class="newsBlock_item_title">Lorem ipsum dolor sit, consectetur adipisicing elit</div>
						<div class="newsBlock_item_data">14 March, 2014</div>
						<div class="newsBlock_item_img"><img src="img/new1.jpg" /></div>
						<div class="newsBlock_item_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt... mollit anim id est laborum.</div>
						<div class="newsBlock_item_bottom clearfix">
							<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
							<a href="newspage.html" class="newsBlock_item_more">ver más</a>
						</div>
					</div>
					<div class="newsBlock_item">
						<div class="newsBlock_item_title">Lorem ipsum dolor sit, consectetur adipisicing elit</div>
						<div class="newsBlock_item_data">12 March, 2014</div>
						<div class="newsBlock_item_img"><img src="img/new3.jpg" /></div>
						<div class="newsBlock_item_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt...</div>
						<div class="newsBlock_item_bottom clearfix">
							<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
							<a href="#" class="newsBlock_item_more">ver más</a>
						</div>
					</div>						
					<div class="newsBlock_item">
						<div class="newsBlock_item_title">Lorem ipsum dolor</div>
						<div class="newsBlock_item_data">13 March, 2014</div>
						<div class="newsBlock_item_img"><img src="img/new2.jpg" /></div>
						<div class="newsBlock_item_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt... mollit anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt... mollit anim id est laborum.</div>
						<div class="newsBlock_item_bottom clearfix">
							<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
							<a href="#" class="newsBlock_item_more">ver más</a>
						</div>
					</div>		
					<div class="newsBlock_item">
						<div class="newsBlock_item_title">Lorem ipsum dolor</div>
						<div class="newsBlock_item_data">13 March, 2014</div>
						<div class="newsBlock_item_img"><img src="img/new2.jpg" /></div>
						<div class="newsBlock_item_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt... mollit anim id est laborum.</div>
						<div class="newsBlock_item_bottom clearfix">
							<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
							<a href="#" class="newsBlock_item_more">ver más</a>
						</div>
					</div>							
					<div class="newsBlock_item">
						<div class="newsBlock_item_title">Lorem ipsum dolor</div>
						<div class="newsBlock_item_data">13 March, 2014</div>
						<div class="newsBlock_item_img"><img src="img/new2.jpg" /></div>
						<div class="newsBlock_item_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt... mollit anim id est laborum.</div>
						<div class="newsBlock_item_bottom clearfix">
							<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
							<a href="#" class="newsBlock_item_more">ver más</a>
						</div>
					</div>						
				</div>
				<div class="button mt30 tac more-button"><a href="#"><span class="down">Ver todas</span></a></div>
				<div class="more">
					<div class="newsBlock clearfix">
						<div class="newsBlock_item">
							<div class="newsBlock_item_title">Lorem ipsum dolor sit, consectetur adipisicing elit</div>
							<div class="newsBlock_item_data">14 March, 2014</div>
							<div class="newsBlock_item_img"><img src="img/new1.jpg" /></div>
							<div class="newsBlock_item_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt... mollit anim id est laborum.</div>
							<div class="newsBlock_item_bottom clearfix">
								<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
								<a href="#" class="newsBlock_item_more">ver más</a>
							</div>
						</div>
						<div class="newsBlock_item">
							<div class="newsBlock_item_title">Lorem ipsum dolor</div>
							<div class="newsBlock_item_data">13 March, 2014</div>
							<div class="newsBlock_item_img"><img src="img/new2.jpg" /></div>
							<div class="newsBlock_item_text">Duis aute irure dot anim id est laborum.</div>
							<div class="newsBlock_item_bottom clearfix">
								<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
								<a href="#" class="newsBlock_item_more">ver más</a>
							</div>
						</div>	
						<div class="newsBlock_item">
							<div class="newsBlock_item_title">Lorem ipsum dolor</div>
							<div class="newsBlock_item_data">13 March, 2014</div>
							<div class="newsBlock_item_img"><img src="img/new2.jpg" /></div>
							<div class="newsBlock_item_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt... mollit anim id est laborum.</div>
							<div class="newsBlock_item_bottom clearfix">
								<div class="newsBlock_item_share">Compartir<a href="#"></a></div>
								<a href="#" class="newsBlock_item_more">ver más</a>
							</div>
						</div>						
					</div>				
				</div>				
				
			</div>
		</div>
		<footer id="footer">
			<ul class="social">
				<li class="facebook"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="youtube"><a href="#"></a></li>
				<li class="google"><a href="#"></a></li>
			</ul>
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/jquery.bxslider.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>