<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/select2.css">
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header" class="adminHeader"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<ul class="topMenu">
						<li><a href="index.html">Incio</a></li>
						<li><a href="about.html">¿Quienes somos?</a></li>
						<li><a href="#">Productos</a></li>
						<li>
							<a href="statistics.html">Estadísticas</a>
						</li>
						<li><a href="offers.html">Subastas y ofertas especiales</a>
							<ul class="submenu">
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>				
						</li>
						<li><a href="contacts.html">Contactenos</a></li>
						<li><a href="support.html">Soporte</a></li>
					</ul>					
					<div class="user clearfix">						
						<div class="user_img"><img src="img/user.jpg" /></div>
						<div class="user_off"><a href="#">Cerrar sesión</a></div>
					</div>					
				</header>
			</div>				
			<div id="body" class="adminBody">
				<div class="text">
					<h1 class="tac mt30">YOUR SHOPPING CART</h1>
					<p>Seller: <span class="blue ttn subtitle">Company Name One</span></p>
					<table class="cart">
						<colgroup>
							<col width="57%">
							<col width="11%">
							<col span="2" width="15%">
							<col width="2%">
						</colgroup>
						<tr>
							<th>Product</th>
							<th class="tac">Quantity</th>
							<th>Shipping details</th>
							<th>Price</th>
							<th><a class="del" href="#"></a></th>
						</tr>
						<tr>
							<td class="cart_product">
								<span class="number">1.</span>
								<img src="img/main_foto.jpg" />
								<div class="cart_charact">
									<div class="cart_charact_item">
										<span class="bold">Comercial name:</span>
										<span>Name</span>
									</div>
									<div class="cart_charact_item">
										<span class="bold">Description:</span>
										<span>Description of the medicine</span>
									</div>									
								</div>
							</td>
							<td class="tac js_quantity">
								<a class="minus" href="#">-</a>
								<input type="text" value="1" />
								<a class="plus" href="#">+</a>							
							</td>
							<td>
								<ul>
									<li>Delivery service</li>
									<li>Delivery time</li>
									<li>Others...</li>
								</ul>
							</td>
							<td>US $9.91/1 item</td>
							<td><a class="del" href="#"></a></td>
						</tr>	
						<tr>
							<td class="cart_product">
								<span class="number">2.</span>
								<img src="img/cart2.jpg" />
								<div class="cart_charact">
									<div class="cart_charact_item">
										<span class="bold">Comercial name:</span>
										<span>Name</span>
									</div>
									<div class="cart_charact_item">
										<span class="bold">Description:</span>
										<span>Description of the medicine</span>
									</div>									
								</div>
							</td>
							<td class="tac js_quantity">
								<a class="minus" href="#">-</a>
								<input type="text" value="10" />
								<a class="plus" href="#">+</a>							
							</td>
							<td>
								<ul>
									<li>Delivery service</li>
									<li>Delivery time</li>
									<li>Others...</li>
								</ul>
							</td>
							<td>US $9.91/1 item</td>
							<td><a class="del" href="#"></a></td>
						</tr>	
						<tr>
							<td colspan="5" class="tar pt0">
								<div class="totalPrice">
									Total price: <span>US $29.73</span>
								</div>
								<div class="cart_btn form"><div class="button"><input type="button" value="Buy all from this seller"></div></div>
							</td>
						</tr>
					</table>				
					<p>Seller: <span class="blue ttn subtitle">Company Name Two</span></p>
					<table class="cart">
						<colgroup>
							<col width="57%">
							<col width="11%">
							<col span="2" width="15%">
							<col width="2%">
						</colgroup>
						<tr>
							<th>Product</th>
							<th class="tac">Quantity</th>
							<th>Shipping details</th>
							<th>Price</th>
							<th><a class="del" href="#"></a></th>
						</tr>
						<tr>
							<td class="cart_product">
								<span class="number">1.</span>
								<img src="img/cart1.jpg" />
								<div class="cart_charact">
									<div class="cart_charact_item">
										<span class="bold">Comercial name:</span>
										<span>Name</span>
									</div>
									<div class="cart_charact_item">
										<span class="bold">Description:</span>
										<span>Description of the medicine</span>
									</div>									
								</div>
							</td>
							<td class="tac js_quantity">
								<a class="minus" href="#">-</a>
								<input type="text" value="1" />
								<a class="plus" href="#">+</a>							
							</td>
							<td>
								<ul>
									<li>Delivery service</li>
									<li>Delivery time</li>
									<li>Others...</li>
								</ul>
							</td>
							<td>US $9.91/1 item</td>
							<td><a class="del" href="#"></a></td>
						</tr>	
						<tr>
							<td class="cart_product">
								<span class="number">2.</span>
								<img src="img/cart3.jpg" />
								<div class="cart_charact">
									<div class="cart_charact_item">
										<span class="bold">Comercial name:</span>
										<span>Name</span>
									</div>
									<div class="cart_charact_item">
										<span class="bold">Description:</span>
										<span>Description of the medicine</span>
									</div>									
								</div>
							</td>
							<td class="tac js_quantity">
								<a class="minus" href="#">-</a>
								<input type="text" value="10" />
								<a class="plus" href="#">+</a>							
							</td>
							<td>
								<ul>
									<li>Delivery service</li>
									<li>Delivery time</li>
									<li>Others...</li>
								</ul>
							</td>
							<td>US $9.91/1 item</td>
							<td><a class="del" href="#"></a></td>
						</tr>	
						<tr>
							<td colspan="5" class="tar pt0">
								<div class="totalPrice">
									Total price: <span>US $29.73</span>
								</div>
								<div class="cart_btn form"><div class="button"><input type="button" value="Buy all from this seller"></div></div>
							</td>
						</tr>
					</table>
					<div class="total">
						All total (4 products): <span>US $1763.83</span>
					</div>		
					<div class="form clearfix">
						<div class="button flr"><input type="button" value="Buy all"></div>
						<div class="button fll"><input type="button" value="Continue shopping"></div>
					</div>					
				</div>
			</div>

		</div>
		<footer id="footer" class="adminFooter">
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/select2.min.js"></script>			
		<script src="js/scripts.js"></script>	
	</body>
</html>