<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/jquery.bxslider.css">
		
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<ul class="topMenu">
						<li><a href="index.html">Incio</a></li>
						<li><a href="about.html">¿Quienes somos?</a></li>
						<li><a href="#">Productos</a></li>
						<li>
							<a href="statistics.html">Estadísticas</a>
						</li>
						<li><a href="offers.html">Subastas y ofertas especiales</a>
							<ul class="submenu">
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>				
						</li>
						<li class="active"><a href="contacts.html">Contactenos</a></li>
						<li><a href="support.html">Soporte</a></li>
					</ul>
					<div class="signIn">
						<a href="#">Iniciar sesión</a>
					</div>
					<div class="signInForm clearfix">
						<div class="signInFormWrap">
							<ul class="signInForm_links">
								<li><a href="#">Registrarse</a></li>
								<li><a href="#">Registaurar contraseña</a></li>
							</ul>
							<form action="" method="post">
								<div><input type="text" placeholder="Nombre de usuario" value="" name="name" id="name" required="required"></div>
								<div><input type="text" placeholder="Contraseña" value="" name="password" id="password" required="required"></div>
								<div class="button"><input type="button" value="Aplicar"></div>
							</form>
						</div>
					</div>					
				</header>
				<img src="img/topimg.jpg" />
			</div>				
			<div id="body">
				<div class="text">
					<h1>Our organizational chart</h1>
					<div class="contactsBlock clearfix">				
						<div class="contactsBlock_img">
							<img src="img/contacs.jpg" />
						</div>
						<div class="contactsBlock_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
							<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 	
						</div>
					</div>
				</div>	
				<div class="title">Contactenos</div>	
				<div class="contactsBlock text clearfix">
					<div class="contactsBlock_img">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240968.4167230541!2d-99.15218449999999!3d19.3200988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0026db097507%3A0x54061076265ee841!2z0JzQtdGF0LjQutC-LCDQpNC10LTQtdGA0LDQu9GM0L3Ri9C5INC-0LrRgNGD0LMsINCc0LXQutGB0LjQutCw!5e0!3m2!1sru!2s!4v1423041148467" width="600" height="290" frameborder="0" style="border:0" class="border"></iframe>
					</div>
					<div class="contactsBlock_text fll">
						<div class="phone">
							<div>+1 222 333 4444</div>
							<div>+1 222 333 4444</div>
						</div>
						<div class="email">
							<a href="mailto:email@email.com">email@email.com</a>
						</div>
						<div class="address">
							<div>222 West 96th Street, City,</div>
							<div>2222222 Country</div>
						</div>						
					</div>						
				</div>
			</div>
		</div>
		<footer id="footer">
			<ul class="social">
				<li class="facebook"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="youtube"><a href="#"></a></li>
				<li class="google"><a href="#"></a></li>
			</ul>
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/jquery.bxslider.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>