<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/jquery.bxslider.css">
		
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<ul class="topMenu">
						<li class="active"><a href="index.html">Incio</a></li>
						<li><a href="about.html">¿Quienes somos?</a></li>
						<li><a href="#">Productos</a></li>
						<li>
							<a href="statistics.html">Estadísticas</a>
						</li>
						<li><a href="offers.html">Subastas y ofertas especiales</a>
							<ul class="submenu">
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>				
						</li>
						<li><a href="contacts.html">Contactenos</a></li>
						<li><a href="support.html">Soporte</a></li>
					</ul>
					<div class="signIn">
						<a href="#">Iniciar sesión</a>
					</div>
					<div class="signInForm clearfix">
						<div class="signInFormWrap">
							<ul class="signInForm_links">
								<li><a href="#">Registrarse</a></li>
								<li><a href="#">Registaurar contraseña</a></li>
							</ul>
							<form action="" method="post">
								<div><input type="text" placeholder="Nombre de usuario" value="" name="name" id="name" required="required"></div>
								<div><input type="text" placeholder="Contraseña" value="" name="password" id="password" required="required"></div>
								<div class="button"><input type="button" value="Aplicar"></div>
							</form>
						</div>
					</div>					
				</header>
	
				<ul class="bxslider">
				  <li><img src="img/slider.jpg" title="<span><span>mejorando</span> lo ancestral</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dolor a ex venenatis rutrum. Vivamus sit amet sem non nisl dignissim laoreet vitae et arcu." /></li>
				  <li><img src="img/slider.jpg" title="<span><span>en nuestras</span> manos esta su salud</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dolor a ex venenatis rutrum. Vivamus sit amet sem non nisl dignissim laoreet vitae et arcu."/></li>
				  <li><img src="img/slider.jpg" title="<span><span>medicamentos</span> para todos</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dolor a ex venenatis rutrum. Vivamus sit amet sem non nisl dignissim laoreet vitae et arcu."/></li>		  
				</ul>				
				
			</div>				
			<div id="body">
				<div class="text info_blockTbl">
					<div class="info_block_title info_block_left">nuestros clientes</div> 
					<div class="info_block_text">
					<p>Nuestros clientes, al igual que nosotros, aman la libertad de elección y la eficiencia. Es por ello que a través de contar con una gran variedad de productos, condiciones de libre competencia y distintas opciones de envío, MedicJoint ofrece un ambiente donde el elegir libremente, conseguir las mejores condiciones de precio y obtener productos de forma inmediata es cosa de todos los días.</p>
					<p>Para garantizar la libertad de elección, en MedicJoint compartimos la información del mercado de medicamentos de forma transparente y clara. De este modo, nuestros clientes optimizan sus compras de forma simple y rápida al tomar decisiones libres, racionales e informadas.</p>
					</div>
				</div>	
				<div class="title">conozcan más</div>	
				<div class="servicesBlocks">
					<div class="servicesBlocks_item products"><a href="#"><span>Extensa gama de productos</span></a></div>
					<div class="servicesBlocks_item statistics"><a href="#"><span>Pronósticos estadísticos</span></a></div>
					<div class="servicesBlocks_item prices"><a href="#"><span>Mejores precios</span></a></div>
					<div class="servicesBlocks_item offer"><a href="#"><span>Vende fácilmente</span></a></div>
					<div class="servicesBlocks_item delivery"><a href="#"><span>Entrega inmediata</span></a></div>
				</div>
				<div class="title">nuestros socios comerciales</div>		
				<p class="text tac">Nuestros socios comerciales comparten nuestra creencia de que el valor máximo de nuestra industria es la vida. Por ello, enfrentan día a día el gran desafío de desarrollar nuevos medicamentos, agregar valor a sus productos, ofrecer beneficios económicos y junto a nosotros ofrecer el mercado de medicamentos más eficiente para que sean nuestros clientes finales, en la búsqueda de salud y calidad de vida, quienes reciban los beneficios de tan ardua labor.</p>
				<hr>
				<ul class="clients_list justified">
					<li class="clients-1"><a href="#">company name</a></li>
					<li class="clients-2"><a href="#">company name</a></li>
					<li class="clients-3"><a href="#">company name</a></li>
					<li class="clients-4"><a href="#">company name</a></li>
					<li class="clients-5"><a href="#">company name</a></li>
					<li class="clients-6"><a href="#">company name</a></li>
				</ul>
				<div class="button mt30 mb30 tac"><a href="#">regístrese ahora</a></div>
			</div>
		</div>
		<footer id="footer">
			<ul class="social">
				<li class="facebook"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="youtube"><a href="#"></a></li>
				<li class="google"><a href="#"></a></li>
			</ul>
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/jquery.bxslider.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>