<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/select2.css">
		<link rel="stylesheet" href="css/jquery.datetimepicker.css">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header" class="adminHeader"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<div class="user clearfix">
						<div class="user_name">Supervisor1 “nombre”</div>
						<div class="user_img"><i count="9"><img src="img/user.jpg" /></i></div>
						<div class="user_off"><a href="#">Cerrar sesión</a></div>
					</div>					
				</header>
			</div>				
			<div id="body" class="adminBody">
				<div class="text">
					<div class="form managerCalendarForm">
						<div class="blueLine">
							<a href="manager-dashboard.html" class="backlink">Mostrar panel de control</a>	
							<div class="search form_field">
								<input type="text" placeholder="Buscar..."><span></span>
							</div>
						</div>
						<div class="sorting">
							<div class="form_field form_field_select">
								<select class="niceSelect" multiple="multiple" data-placeholder="Seleccione un asistente personal">
									<option>Tom A</option>
									<option>Tom B</option>
									<option>Tom C</option>
									<option>Tom D</option>
									<option>Tom E</option>
									<option>Tom F</option>
									<option>Tom G</option>
									<option>Tom H</option>
									<option>Tom I</option>								
								</select>							
							</div>	
							<div class="form_field">
								<input type="checkbox" name="check" id="checkbox" value="" class="js_period">
								<label for="checkbox"><span class="checkSpan"></span>Periodo</label>
							</div>			
							<div class="form_field">
								<div class="calendar"><input type="text" class="datepicker"></div>
								<div class="calendar transparent"><input type="text" class="datepicker"></div>
							</div>
						</div>
						<p class="clear_button"><a href="#" class="reset">Vaciar campos</a></p>
					</div>
					<div class="managerCalendarTbl">

					<div class="scroll" style="height: 412px;">
					  <table class="table">
						<tr>
							<th width="5%">№</th>
							<th width="15%"><div class="sort">La fecha<span class="down"></span><span class="up"></span></div></th>
							<th width="17.5%">La hora</th>
							<th width="17.5%">Nombre/Razon social</th>
							<th width="17.5%">La dirección</th>
							<th width="17.5%">Asistente</th>
							<th width="10%">Proceso</th>
						</tr>					  
						<tr>
							<td width="5%">1</td>
							<td width="15%">12/10/2014</td>
							<td width="17.5%">12pm</td>
							<td width="17.5%">Company 1</td>
							<td width="17.5%">Calle 1 País</td>
							<td width="17.5%">Tom F</td>
							<td width="10%"><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
						<tr>
							<td>1</td>
							<td>12/10/2014</td>
							<td>12pm</td>
							<td>Company 1</td>
							<td>Calle 1 País</td>
							<td>Tom F</td>
							<td><a class="info" href="#"></a></td>						
						</tr>
					  </table>
					</div>					
					
					</div>
				</div>
			</div>
		</div>
		<footer id="footer" class="adminFooter">
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/jquery.datetimepicker.js"></script>
		<script src="js/jquery.mCustomScrollbar.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>