<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/select2.css">	
		<link rel="stylesheet" href="css/jquery.datetimepicker.css">
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header" class="adminHeader"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<ul class="topMenu">
						<li><a href="#">Configuración de perfil</a></li>
						<li class="active"><a href="#">Catalogo de productos</a></li>
						<li><a href="batches.html">Lotes y precios</a></li>
						<li><a href="#">Ordenes</a></li>
						<li><a href="#">Subastas y ofertas especiales</a>
							<ul class="submenu">
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>				
						</li>
					</ul>					
					<div class="user clearfix">						
						<div class="user_img"><img src="img/user.jpg" /></div>
						<div class="user_off"><a href="#">Cerrar sesión</a></div>
					</div>					
				</header>
			</div>				
			<div id="body" class="adminBody">
				<div class="text">
					<h1 class="tac mt30">Nuevo producto</h1>
					<p class="tac">La información que proporcione deberá coincidir con la que aparece en el registro sanitario del medicamento que desea agregar.</p>
					
					<div class="form registration">
						<form action="#">
							<div class="subtitle">Generales del Producto</div>
							<hr />
							<div class="clearfix">
								<div class="half">
									<div class="form_field"><span class="label"><span>*</span>Nombre o Denominación distintiva:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Clasificación artículo 226 Ley General de Salud:</span></div>
									<div class="form_field">
									<select class="niceSelect">
										<option>I</option>
										<option>II</option>
										<option>III</option>
										<option>IV</option>
										<option>V</option>
										<option>VI</option>
									</select>									
									</div>
									<div class="form_field"><span class="label"><span>*</span>No. de solicitud de registro sanitario:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Fecha de expedición del registro sanitario:</span></div>
									<div class="form_field calendar_def"><input type="text" class="datepicker"></div>
									<div class="form_field"><span class="label"><span>*</span>Titular del Registro Sanitario:</span></div>
									<div class="form_field"><input type="text"></div>
								</div>
								<div class="half">
									<div class="form_field"><span class="label"><span>*</span>Código de barras:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Número de registro sanitario:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Fecha de vencimiento del registro sanitario:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>No. de solicitud previo de registro sanitario:</span></div>
									<div class="clearfix form_field_radio js_half">
										<div class="form_field radio openSelectField">
											<input type="radio" value="" id="roundedOne1" name="radio" checked="checked">
											<label for="roundedOne1" class="mt0 mb0">Si</label>
										</div>
										<div class="form_field radio closeSelectField">
											<input type="radio" value="" id="roundedOne2" name="radio" >
											<label for="roundedOne2" class="mt0 mb0">No</label>
										</div>
									</div>	
									<div class="form_field hidden"><input type="text"></div>
								</div>						
							</div>
							<div class="mb30">
								<div class="documents mb20">
									<div class="form_field wa">
										<span class="label wa mr20 pt5"><span>*</span>El registro sanitario del medicamento:</span>
										<span class="file-wrapper">
											<input type="file" name="file" />
											<span class="button">Cargar documento</span>									
										</span> 
									</div>
								</div>
								<div class="form_field validate">Hubo un error al cargar el documento,por favor inténtelo nuevamente.</div>
							</div>	
							<div class="clearfix js_reset_btn">
								<p class="clear_button flr mt5 ml10"><a class="reset" href="#">Vaciar campos</a></p>
								<div class="subtitle">Especificaciones técnicas del producto</div>
							</div>
							<hr />	
							<div class="clearfix js_reset_content">
								<div class="half">
									<div class="form_field"><span class="label">Clave de cuadro básico:</span></div>
									<div class="form_field">
									<select class="niceSelect" data-placeholder="Elegir"><option></option>
										<option>Clave de cuadro básico</option>
										<option>Clave de cuadro básico-2</option>
									</select>									
									</div>
									<div class="form_field"><span class="label"><span>*</span>Descripción:</span></div>
									<div class="form_field">
									<select class="niceSelect" data-placeholder="Elegir"><option></option>
										<option>Descripción</option>
										<option>Descripción-2</option>
									</select>									
									</div>
									<div class="form_field"><span class="label"><span>*</span>Presentación:</span></div>
									<div class="form_field">
									<select class="niceSelect" data-placeholder="Elegir"><option></option>
										<option>Presentación</option>
										<option>Presentación-2</option>
									</select>									
									</div>
									<div class="form_field"><span class="label"><span>*</span>Nivel de atención:</span></div>
									<div class="form_field">
									<select class="niceSelect" data-placeholder="Elegir"><option></option>
										<option>Nivel de atención</option>
										<option>Nivel de atención-2</option>
									</select>									
									</div>									
								</div>
								<div class="half">
									<div class="form_field"><span class="label"><span>*</span>Nombre Genérico:</span></div>
									<div class="form_field">
									<select class="niceSelect" data-placeholder="Elegir"><option></option>
										<option>Nombre Genérico</option>
										<option>Nombre Genérico-2</option>
									</select>									
									</div>
									<div class="form_field"><span class="label"><span>*</span>Cantidad:</span></div>
									<div class="form_field">
									<select class="niceSelect" data-placeholder="Elegir"><option></option>
										<option>Cantidad</option>
										<option>Cantidad-2</option>
									</select>									
									</div>
									<div class="form_field"><span class="label"><span>*</span>Especialidad:</span></div>
									<div class="form_field">
									<select class="niceSelect" data-placeholder="Elegir"><option></option>
										<option>Especialidad</option>
										<option>Especialidad-2</option>
									</select>									
									</div>								
								</div>	
							</div>
							<div class="clearfix mb30">
								<div class="button flr ml10 showForm"><input type="button" value="añadir"></div>
								<p class="mt0">If you cann't find the product in the catalogue, please click Add and fill in the fields. The product will be moderated by MJ specialist.</p>
							</div>
							<div class="clearfix hidden">
								<div class="half">
									<div class="form_field"><span class="label">Clave de cuadro básico:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Descripción:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Presentación:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Nivel de atención:</span></div>
									<div class="form_field"><input type="text"></div>									
								</div>
								<div class="half">
									<div class="form_field"><span class="label"><span>*</span>Nombre Genérico:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Cantidad:</span></div>
									<div class="form_field"><input type="text"></div>
									<div class="form_field"><span class="label"><span>*</span>Especialidad:</span></div>
									<div class="form_field"><input type="text"></div>							
								</div>	
							</div>
							
							<div class="subtitle">Datos adicionales</div>
							<hr />
							<div class="form_field halfAndHalf">
								<span class="label tar leftpart"><span>*</span>Fabricante del fármaco:</span>
								<input type="text" class="rightpart">
							</div>
							<div class="form_field halfAndHalf">
								<span class="label tar leftpart"><span>*</span>Laboratorio fabricante del medicamento:</span>
								<input type="text" class="rightpart">
							</div>
							<div class="form_field halfAndHalf">
								<span class="label tar leftpart"><span>*</span>Acondicionado por:</span>
								<input type="text" class="rightpart">
							</div>
							<div class="form_field halfAndHalf">
								<span class="label tar leftpart"><span>*</span>Distribuido por:</span>
								<input type="text" class="rightpart">
							</div>							
							<div class="button tac"><input type="button" value="salvar"></div>
						</form>
					</div>						
					
				</div>
			</div>

		</div>
		<footer id="footer" class="adminFooter">
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/jquery.datetimepicker.js"></script>	
		<script src="js/scripts.js"></script>	
	</body>
</html>