<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/select2.css">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">		
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header" class="adminHeader"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<ul class="topMenu">
						<li><a href="#">Configuración de perfil</a></li>
						<li class="active"><a href="#">Catalogo de productos</a></li>
						<li><a href="batches.html">Lotes y precios</a></li>
						<li><a href="#">Ordenes</a></li>
						<li><a href="#">Subastas y ofertas especiales</a>
							<ul class="submenu">
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>				
						</li>
					</ul>					
					<div class="user clearfix">						
						<div class="user_img"><img src="img/user.jpg" /></div>
						<div class="user_off"><a href="#">Cerrar sesión</a></div>
					</div>					
				</header>
			</div>				
			<div id="body" class="adminBody">
				<div class="text">
					<div class="backLink"><a href="seller-catalog.html">Go back</a></div>
					<div class="productDetail clearfix">
						<div class="productDetail_images">
							<div class="productDetail_images_main"><img src="img/product-main.jpg" /></div>
							<div class="productDetail_images_small scroll_img" style="height: 100%;">
								<a href="img/product-main.jpg" class="active"><img src="img/product-small-main.jpg" /></a>							
								<a href="img/product-1.jpg"><img src="img/product-small-1.jpg" /></a>
								<a href="img/product-2.jpg"><img src="img/product-small-2.jpg" /></a>
								<a href="img/product-3.jpg"><img src="img/product-small-3.jpg" /></a>
								<a href="img/product-1.jpg"><img src="img/product-small-1.jpg" /></a>
								<a href="img/product-2.jpg"><img src="img/product-small-2.jpg" /></a>
							</div>
						</div>
						<div class="productDetail_info">
							<div class="productInfo"><span class="name">Largo:</span><span class="value">15 cm</span></div>	
							<div class="productInfo"><span class="name">Ancho:</span><span class="value">20 cm</span></div>	
							<div class="productInfo"><span class="name">Altura:</span><span class="value">20 cm</span></div>	
							<div class="productInfo"><span class="name">Peso:</span><span class="value">150 g</span></div>
						</div>						
					</div>
					<div class="form">
						<div class="subtitle">Generales del Producto</div>
						<hr/>
						<div class="clearfix">
							<div class="half">
								<div class="productInfo"><span class="name">Nombre o Denominación distintiva:</span><span class="value">Paracetamol</span></div>	
								<div class="productInfo"><span class="name">Clasificación artículo 226 Ley General de Salud:</span><span class="value">I</span></div>	
								<div class="productInfo"><span class="name">No. de solicitud de registro sanitario:</span><span class="value">090033RR010340</span></div>	
								<div class="productInfo"><span class="name">Fecha de expedición del registro sanitario:</span><span class="value">11/12/2009</span></div>	
								<div class="productInfo"><span class="name">Titular del Registro Sanitario:</span><span class="value">Lorem Ipsum</span></div>		
							</div>
							<div class="half">
								<div class="productInfo"><span class="name">Código de barras:</span><span class="value">123456</span></div>	
								<div class="productInfo"><span class="name">Número de registro sanitario:</span><span class="value">###@#### SSA </span></div>	
								<div class="productInfo"><span class="name">No. de solicitud previo de registro sanitario:</span><span class="value">03390701307</span></div>	
								<div class="productInfo"><span class="name">Fecha de vencimiento del registro sanitario:</span><span class="value">11/12/2014</span></div>	
								<div class="productInfo"><span class="name">El registro sanitario del medicamento:</span><span class="value"><a href="#" target="_blank">Registro.doc</a></span></div>									
							</div>	
						</div>	
						<div class="subtitle">Especificaciones técnicas del producto</div>
						<hr/>
						<div class="clearfix">
							<div class="half">
								<div class="productInfo"><span class="name">Clave de cuadro básico:</span><span class="value">010.000.0104.00</span></div>	
								<div class="productInfo"><span class="name">Nombre Genérico:</span><span class="value">Paracetamol</span></div>	
								<div class="productInfo"><span class="name">Descripción:</span><span class="value">Tableta</span></div>	
								<div class="productInfo"><span class="name">Cantidad:</span><span class="value">500mg</span></div>			
							</div>
							<div class="half">
								<div class="productInfo"><span class="name">Presentación:</span><span class="value">10 tabletas</span></div>	
								<div class="productInfo"><span class="name">Especialidad:</span><span class="value">Analgesia</span></div>	
								<div class="productInfo"><span class="name">Nivel de atención:</span><span class="value">Primer nivel</span></div>										
							</div>	
						</div>		
						<div class="subtitle">Datos adicionales</div>
						<hr/>
						<div class="clearfix">
							<div class="half">
								<div class="productInfo"><span class="name">Fabricante del fármaco:</span><span class="value">11/12/2009</span></div>	
								<div class="productInfo"><span class="name">Laboratorio fabricantedel medicamento:</span><span class="value">11/12/2009</span></div>			
							</div>
							<div class="half">
								<div class="productInfo"><span class="name">Acondicionado por:</span><span class="value">11/12/2009</span></div>	
								<div class="productInfo"><span class="name">Distribuido por:</span><span class="value">11/12/2009</span></div>										
							</div>	
						</div>							
					</div>
					<div class="subtitle blue">LOTE</div>
					<hr/>
					<div class="managerCalendarTbl mb40">
						<div class="scroll" style="height: 412px;">
						<table class="table">	
						<thead>
							<tr>
								<th width="4%">Lote</th>
								<th width="11%">Fecha de caducidad</th>
								<th width="11%">Cantidad de cajas unitarias</th>
								<th width="11%">Precio</th>
								<th width="11%">Nombre</th>
								<th width="11%">Número de registro sanitario</th>
								<th width="11%">No. de solicitud de registro sanitario</th>
								<th width="11%">Descripción</th>
								<th width="11%">Presentación</th>							
								<th width="8%">Cantidad</th>
							</tr>	
						</thead>	
						<tbody>
							<tr>
								<td width="4%">555</td>
								<td width="11%">15/07/2015</td>
								<td width="11%">500</td>
								<td width="11%">10$</td>
								<td width="11%">Paracetamol</td>
								<td width="11%">1554D2004SSA</td>
								<td width="11%">12345</td>
								<td width="11%">Tableta</td>
								<td width="11%">500 mg</td>
								<td width="8%">20 tabletas</td>							
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>
							<tr>
								<td>555</td>
								<td>15/07/2015</td>
								<td>500</td>
								<td>10$</td>
								<td>Paracetamol</td>
								<td>1554D2004SSA</td>
								<td>12345</td>
								<td>Tableta</td>
								<td>500 mg</td>
								<td>20 tabletas</td>						
							</tr>							
						</tbody>
						</table>
						</div>					
					</div>
				</div>
			</div>

		</div>
		<footer id="footer" class="adminFooter">
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/jquery.mCustomScrollbar.js"></script>			
		<script src="js/scripts.js"></script>	
	</body>
</html>