<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<ul class="topMenu">
						<li><a href="index.html">Incio</a></li>
						<li><a href="about.html">¿Quienes somos?</a></li>
						<li><a href="#">Productos</a></li>
						<li>
							<a href="statistics.html">Estadísticas</a>
						</li>
						<li><a href="offers.html">Subastas y ofertas especiales</a>
							<ul class="submenu">
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>				
						</li>
						<li><a href="contacts.html">Contactenos</a></li>
						<li class="active"><a href="support.html">Soporte</a></li>
					</ul>
					<div class="signIn">
						<a href="#">Iniciar sesión</a>
					</div>
					<div class="signInForm clearfix">
						<div class="signInFormWrap">
							<ul class="signInForm_links">
								<li><a href="#">Registrarse</a></li>
								<li><a href="#">Registaurar contraseña</a></li>
							</ul>
							<form action="" method="post">
								<div><input type="text" placeholder="Nombre de usuario" value="" name="name" id="name" required="required"></div>
								<div><input type="text" placeholder="Contraseña" value="" name="password" id="password" required="required"></div>
								<div class="button"><input type="button" value="Aplicar"></div>
							</form>
						</div>
					</div>					
				</header>
				<img src="img/topimg.jpg" />	
			</div>				
			<div id="body">
				<div class="text">
					<p>En MedicJoint nos interesa mucho tu entera satisfacción. Por ello, estamos listos aclarar cualquier duda, apoyarte en cualquier procedimiento y asistirte con cualquier problemática o contratiempo. Recuerda que estamos para sevirte.</p> 
					<h1 class="tac mt30">Estamos para asistirlo!</h1>
					<div class="supportForm">
						<p>Si tiene una sugerencia, queja, pregunta o necesita ayuda por favor permítanos conocerla usando el siguiente formulario. Nuestro equipo lo contactará a la brevedad.</p>
						<form action="#">
							<div class="supportForm_field"><span class="label">Asunto:</span><input type="text" name="subject"></div>
							<div class="supportForm_field"><span class="label"><span>*</span>E-mail:</span><input type="text" name="email" class="validate"></div>
							<div class="supportForm_field validate validate_pad">El correo es obligatorio</div>
							<div class="supportForm_field"><span class="label"><span>*</span>Name:</span><input type="text" name="name"></div>
							<div class="supportForm_field"><textarea placeholder="Su mensaje..." class="validate"></textarea></div>
							<div class="supportForm_field validate">Por favor escriba su mensaje</div>
							<div class="button"><input type="button" value="Send"></div>
						</form>
					</div>
				</div>
				<div class="title">Preguntas frecuentes</div>	
				<div class="text">
					<div class="questions">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua veniam, quis nostrud?<span></span>
						</p>
						<div class="answer">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						</div>
					</div>
					<hr>
					<div class="questions">
						<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?<span></span>
						</p>
						<div class="answer">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						</div>
					</div>
					<hr>
					<div class="questions">
						<p>
							Lorem ipsum dolor sit amet?<span></span>
						</p>
						<div class="answer">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						</div>
					</div>
					<hr>
					<div class="button mt30 tac more-button"><a href="#"><span class="down">Ver todas</span></a></div>
					<div class="more">
						<div class="questions">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua veniam, quis nostrud?<span></span>
							</p>
							<div class="answer">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							</div>
						</div>
						<hr>
						<div class="questions">
							<p>
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?<span></span>
							</p>
							<div class="answer">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							</div>
						</div>
						<hr>				
					</div>					
				</div>

			</div>
		</div>
		<footer id="footer">
			<ul class="social">
				<li class="facebook"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="youtube"><a href="#"></a></li>
				<li class="google"><a href="#"></a></li>
			</ul>
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>