<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/select2.css">
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header" class="adminHeader"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<div class="user clearfix">
						<div class="user_name">User1 “nombre”</div>
						<div class="user_img"><img src="img/user.jpg" /></div>
						<div class="user_off"><a href="#">Cerrar sesión</a></div>
					</div>					
				</header>
			</div>				
			<div id="body" class="adminBody">
				<div class="text">
					<h1 class="tac mt30">Estatus de proceso de registro</h1>
					<div class="subtitle tac">Su asistente personal es: Nombre. E-mail: mail@mail.com</div>
					<p class="tac">En este paso del proceso de registro le pedimos que cargue en nuestro sistema la versión digitalizada de los documentos solicitados a travésdel siguiente formulario. Le recomendamos que después de cargar un documento de clic en el botón “Salvar y continuar” para salvar el documento cargadoy continuar subiendo el resto de documentos. Si tiene alguna duda, por favor consúltenos a través de nuestro chat de asistencia en líneao escribanos desde la sección de soporte técnico.</p>
					<p class="tac"><a href="support.html">Soporte</a></p>
					<ul class="registerSteps">
						<li class="filled"><a href="user-registration-step1.html">Solicitud de registro</a></li>
						<li class="filled"><a href="user-registration-step2.html">Formato de pre-registro</a></li>
						<li class="active"><a href="user-registration-step3.html">Documentación</a></li>
						<li>Visita/Validación</li>
						<li>Contrato</li>
					</ul>
					<p>Con la finalidad de agilizar el proceso de visita de sus instalaciones le solicitamos que cargue la versión digitalizada de los documentos enlistados en el siguiente formulario.</p>
					<p>Para garantizar su seguridad y la de todos los socios, es importante que usted tenga en su poder los documentos originales al momento de la visita a sus instalaciones para su cotejo.</p>
					<p>En caso de que no desee hacer el proceso de carga de documentos digitalizados en nuestro sistema, le pedimos que se comunique con su asistente personal “ASSISTENTE NOMBRE”. Él le  pedirá copias de los documentos solicitados al momento de la visita a sus instalaciones.</p> 
					<p>En caso de que no cuente con algún documento estamos para servirle y asesorarlo, por favor hágaselo saber a su asiste personal “ASSISTENTE NOMBRE”. Él lo apoyará para seguir adelante con el registro. Su satisfacción y seguridad es lo más importante para nosotros.</p>
					<p>Recuerde que nuestro equipo de soporte está preparado para ayudarlo y apoyarlo en cualquier parte del proceso de registro.</p>
					<div class="form">
						<form action="#">
							<div class="subtitle">Administrativos</div>
							<hr />
							
							<div class="documents">
								<div class="form_field">
									<span class="label">R.F.C. cedula fiscal:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
										<span class="success"></span>
									</span> 
								</div>
								
								<div class="form_field">
									<span class="label">Alta en Hacienda:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
										<span class="error"></span>										
									</span> 
								</div>
								
								<div class="form_field">
									<span class="label">Acta constitutiva notariada:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">Registro Publico de la Propiedad del acta constitutiva:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
							</div>	
							<div class="form_field">
								<input type="checkbox" name="check" id="checkbox" value="">
								<label for="checkbox" class="showForm"><span class="checkSpan"></span>Hay modificaciones al acta constitutiva.</label>
							</div>
							
							<div class="hidden">
								<div class="documents">	
									<div class="form_field">
										<span class="label">Acta o instrumento deúltima modificación:</span>
										<span class="file-wrapper">
											<input type="file" name="file" />
											<span class="button">Cargar documento</span>
										</span> 
									</div>
									<div class="form_field">
										<span class="label">Registro público de la propiedadúltima modificación:</span>
										<span class="file-wrapper">
											<input type="file" name="file" />
											<span class="button">Cargar documento</span>
										</span> 
									</div>
								</div>
							</div>
							
							<div class="subtitle">Instalaciones</div>
							<hr />	
							<div class="documents">
								<div class="form_field">
									<span class="label">Comprobantes de domicilio:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
							</div>
							
							<div class="subtitle">Finanzas</div>
							<hr />	
							<div class="documents">
								<div class="form_field">
									<span class="label">Estados financieros de losúltimos 3 años:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">Últimos 3 estados bancarios:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">Última declaración anual ante el S.A.T.:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
							</div>							

							<div class="subtitle">Licencias y permisos</div>
							<hr />	
							<div class="documents">
								<div class="form_field">
									<span class="label">Aviso de funcionamiento COFEPRIS:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">I.F.E del responsable sanitario COFEPRIS:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">Cédula profesional SEP del responsable sanitario:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">Aviso de responsable sanitario COFEPRIS:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">Certificado de buenas practicas del fabricante:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
								<div class="form_field">
									<span class="label">Certificado de buenas prácticas:</span>
									<span class="file-wrapper">
										<input type="file" name="file" />
										<span class="button">Cargar documento</span>
									</span> 
								</div>
							</div>	
							<div class="form_field">
								<input type="checkbox" name="check" id="checkbox2" value="">
								<label for="checkbox2" class="showForm"><span class="checkSpan"></span>Maneje medicamentos controlados</label>
							</div>
							<div class="hidden">
								<div class="documents">	
									<div class="form_field">
										<span class="label">Licencia sanitaria COFEPRIS:</span>
										<span class="file-wrapper">
											<input type="file" name="file" />
											<span class="button">Cargar documento</span>
										</span> 
									</div>
								</div>								
							</div>
							<div class="button"><input type="button" value="Salvar y continuar"></div>
						</form>
						
					</div>						
				</div>

			</div>
		</div>
		<footer id="footer" class="adminFooter">
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/scripts.js"></script>	
		
	</body>
</html>