<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/select2.css">
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header" class="adminHeader"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<div class="user clearfix">
						<div class="user_name">User1 “nombre”</div>
						<div class="user_img"><img src="img/user.jpg" /></div>
						<div class="user_off"><a href="#">Cerrar sesión</a></div>
					</div>					
				</header>
			</div>						
			<div id="body" class="adminBody">
				<div class="text">
					<h1 class="tac mt30">Estatus de proceso de registro</h1>
					<div class="subtitle tac">Su asistente personal es: Nombre. E-mail: mail@mail.com</div>
					<p class="tac">Hola! En este paso del proceso de registro usted puede ver su solicitud de registro. Por favor verifique la información. Llene o edite cualquier campo faltante o incorrecto. Al terminar de clic en el botón “Salvar y continuar”. Si tiene alguna duda, por favor consúltenos a través de nuestro chat de asistencia en línea o escribanos desde la sección de soporte técnico.</p>
					<p class="tac"><a href="support.html">Soporte</a></p>
					<ul class="registerSteps">
						<li class="active"><a href="#">Solicitud de registro</a></li>
						<li>Formato de pre-registro</li>
						<li>Documentación</li>
						<li>Visita/Validación</li>
						<li>Contrato</li>
					</ul>

					<div class="form registration">
	
							<div class="subtitle">Datos generales</div>
							<hr />
							<div class="clearfix">
								<div class="half half3">
									<div class="form_field"><span class="label"><span>*</span>Nombre o razon social:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">Company 1 name</div>
									<div class="form_field"><span class="label"><span>*</span>Nombre de contacto:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">Paul Smith</div>
									<div class="form_field"><span class="label">Telefono de contacto:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">8-800-8000</div>
									<div class="form_field"><span class="label">Actividad principal:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">Farmacia</div>
								</div>
								<div class="half half3">
									<div class="form_field"><span class="label"><span>*</span>R.F.C.:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">DFTD8599013R2</div>
									<div class="form_field"><span class="label"><span>*</span>Correo electronico de contacto:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">mail@mail.com</div>
									<div class="form_field"><span class="label">Telefono secundario:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">8-800-8000</div>
									<div class="form_field"><span class="label">Sector principal:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">Sector privado</div>
								</div>						
							</div>
							<p class="subtitleGrey">Dirección principal</p>
							<div class="clearfix">
								<div class="half half3">
									<div class="form_field"><span class="label">Calle:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">Calle de Alcalá</div>
									<div class="form_field"><span class="label">Colonia:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">Colonia</div>
									<div class="form_field"><span class="label">Pais:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">Spain</div>
								</div>
								<div class="half half3">
									<div class="clearfix">
										<div class="half">
											<div class="form_field"><span class="label">Numero exterior:</span></div>
											<div class="form_field form_field_edit" contenteditable="true">Numero exterior</div>
											<div class="form_field"><span class="label">Delegacion/Municipio:</span></div>
											<div class="form_field form_field_edit" contenteditable="true">Delegacion</div>
										</div>
										<div class="half">
											<div class="form_field"><span class="label">Numero interior:</span></div>
											<div class="form_field form_field_edit" contenteditable="true">Numero interior</div>
											<div class="form_field"><span class="label">Estado:</span></div>
											<div class="form_field form_field_edit" contenteditable="true">Estado</div>
										</div>
									</div>	
									<div class="form_field"><span class="label">C.P.:</span></div>
									<div class="form_field form_field_edit" contenteditable="true">C.P.</div>									
								</div>	
							</div>
							<div class="subtitle">Comentario</div>
							<hr />
							<div class="form_field">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, dicta fugiat accusantium commodi asperiores eaque consequuntur! Velit, architecto, facere, hic incidunt dolorum eius delectus perspiciatis nihil facilis ea placeat beatae?</div>
							<hr />
				
							<div class="button tal"><input type="button" value="Salvar y continuar"></div>
							
					</div>				
				</div>

			</div>
		</div>
		<footer id="footer" class="adminFooter">
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>