<!DOCTYPE html>
<!--[if IE 6]>         <html class="no-js ie ie6 lte-ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7 lte-ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8 lte-ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9 lte-ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0;url=http://browsehappy.com">
		<![endif]-->
		
		<!-- if we need ie8, put this on conditional comment for ie8 -->
		<!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		

		<!--[if IE]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/select2.css">
		<link rel="stylesheet" href="css/jquery.datetimepicker.css">
		<meta name="title" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

		<!--[if IE]>
			<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
			<link rel="stylesheet" href="css/ie.css" />
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none !important;
				}
			</style>
		<![endif]-->
		<title>Medic Joint</title>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div class="wrapSlider">
				<header id="header" class="adminHeader"> 
					<a href="index.html"><img class="logo" src="img/logo.png" alt="" /></a>
					<div class="user clearfix">
						<div class="user_name">User1 “nombre”</div>
						<div class="user_img"><img src="img/user.jpg" /></div>
						<div class="user_off"><a href="#">Cerrar sesión</a></div>
					</div>					
				</header>
			</div>				
			<div id="body" class="adminBody">
				<div class="text">
					<h1 class="tac mt30">Estatus de proceso de registro</h1>
					<div class="subtitle tac">Su asistente personal es: Nombre. E-mail: mail@mail.com</div>
					<p class="tac">En este paso su asistente personal lo contactará para programar una visita a las instalaciones de su empresa. Si tiene alguna duda, por favor consúltenos a través de nuestro chat de asistencia en línea o escribanos desde la sección de soporte técnico.</p>
					<p class="tac"><a href="support.html">Soporte</a></p>
					<ul class="registerSteps">
						<li class="filled"><a href="user-registration-step1.html">Solicitud de registro</a></li>
						<li class="filled"><a href="user-registration-step2.html">Formato de pre-registro</a></li>
						<li class="filled"><a href="user-registration-step3.html">Documentación</a></li>
						<li class="active"><a href="user-registration-step4a.html">Visita/Validación</a></li>
						<li>Contrato</li>
					</ul>
					<div class="visit">
						<div class="visit_cell"><input class="openCalendar" type="text"></div>
						<div class="visit_cell">
							<div class="subtitle">Fecha programada de visita:</div>
							<p>La visita será programada pronto! Su asistente personal lo contactará a la brevedad.</p>
							<div class="subtitle">Lugar de visita:</div>
							<p>Su asistente personal lo contactará para verificar la dirección de sus instalaciones.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<footer id="footer" class="adminFooter">
			<div class="copyright">&copy 2015 <a href="#">Aviso de privacidad</a></div>
		</footer>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/jquery.datetimepicker.js"></script>
		<script src="js/scripts.js"></script>	
		
	</body>
</html>