<?xml version="1.0"?>
<!-- 
/**
 * Copyright (c) 2015, Мedic Joint.
 * Developed by Softeq Development Corp. for Lomedic S.A..
 */
 -->
<config>
    <modules>
        <Lomedic_BuyerCheckout>
            <version>0.1.7</version>
        </Lomedic_BuyerCheckout>
    </modules>
    <global>
        <helpers>
            <buyercheckout>
                <class>Lomedic_BuyerCheckout_Helper</class>
            </buyercheckout>
            <sales>
                <rewrite>
                    <data>Lomedic_BuyerCheckout_Helper_SalesData</data>
                </rewrite>
            </sales>
        </helpers>
        <blocks>
            <checkout>
                <rewrite>
                    <cart>Lomedic_BuyerCheckout_Block_Cart</cart>
                    <multishipping_addresses>Lomedic_BuyerCheckout_Block_Multishipping_Addresses</multishipping_addresses>
                    <cart_item_renderer>Lomedic_BuyerCheckout_Block_Multishipping_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <buyercheckout>
                <class>Lomedic_BuyerCheckout_Model</class>
                <resourceModel>buyercheckout_resource</resourceModel>
            </buyercheckout>
            <buyercheckout_resource>
                <class>Lomedic_BuyerCheckout_Model_Resource</class>
                <deprecatedNode>buyercheckout_mysql4</deprecatedNode>
                <entities>
                    <quote_items>
                        <table>quote_items</table>
                    </quote_items>
                </entities>
            </buyercheckout_resource>
            <sales>
                <rewrite>
                    <quote>Lomedic_BuyerCheckout_Model_Quote</quote>
                    <quote_address>Lomedic_BuyerCheckout_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <checkout>
                <rewrite>
                    <type_multishipping>Lomedic_BuyerCheckout_Model_Type_Multishipping</type_multishipping>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <buyercheckout_setup>
                <setup>
                    <module>Lomedic_BuyerCheckout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </buyercheckout_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <controller_action_predispatch_handler>
                        <class>buyercheckout/observer</class>
                        <method>restoreQuote</method>
                    </controller_action_predispatch_handler>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_checkout_multishipping_index>
                <observers>
                    <controller_action_predispatch_checkout_multishipping_index_handler>
                        <class>buyercheckout/observer</class>
                        <method>updateQuote</method>
                    </controller_action_predispatch_checkout_multishipping_index_handler>
                </observers>
            </controller_action_predispatch_checkout_multishipping_index>
            <core_copy_fieldset_customer_address_to_quote_address>
                <observers>
                    <core_copy_fieldset_customer_address_to_quote_address_handler>
                        <class>buyercheckout/observer</class>
                        <method>handleAddressCopy</method>
                    </core_copy_fieldset_customer_address_to_quote_address_handler>
                </observers>
            </core_copy_fieldset_customer_address_to_quote_address>
            <checkout_submit_all_after>
                <observers>
                    <checkout_submit_all_after_handler>
                        <class>buyercheckout/observer</class>
                        <method>handleOrderAddress</method>
                    </checkout_submit_all_after_handler>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Lomedic_BuyerCheckout before="Mage_Checkout">Lomedic_BuyerCheckout</Lomedic_BuyerCheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <buyercheckout>
                    <file>buyercheckout.xml</file>
                </buyercheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Lomedic_BuyerCheckout>
                    <files>
                        <default>Lomedic_BuyerCheckout.csv</default>
                    </files>
                </Lomedic_BuyerCheckout>
            </modules>
        </translate>
    </frontend>
</config>
