<?xml version="1.0"?>
<!-- 
/**
 * Copyright (c) 2015, Мedic Joint.
 * Developed by Softeq Development Corp. for Lomedic S.A..
 */
 -->
<config>
    <modules>
        <Lomedic_BuyerOrders>
            <version>0.1.2</version>
        </Lomedic_BuyerOrders>
    </modules>
    <global>
        <helpers>
            <buyerorders>
                <class>Lomedic_BuyerOrders_Helper</class>
            </buyerorders>
        </helpers>
        <blocks>
            <sales>
                <rewrite>
                    <order_history>Lomedic_BuyerOrders_Block_Order_History</order_history>
                </rewrite>
            </sales>
        </blocks>
        <models>
            <buyerorders>
                <class>Lomedic_BuyerOrders_Model</class>
                <resourceModel>buyerorders_resource</resourceModel>
            </buyerorders>
            <buyerorders_resource>
                <class>Lomedic_BuyerOrders_Model_Resource</class>
                <deprecatedNode>buyerorders_mysql4</deprecatedNode>
            </buyerorders_resource>
        </models>
        <resources>
            <buyerorders_setup>
                <setup>
                    <module>Lomedic_BuyerOrders</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </buyerorders_setup>
        </resources>
        <events>
            <sales_quote_item_set_product>
            <observers>
                <buyerorders>
                    <class>Lomedic_BuyerOrders_Model_Observer</class>
                    <method>setAttributes</method>
                </buyerorders>
            </observers>
        </sales_quote_item_set_product>
            <sales_convert_quote_address_to_order>
                <observers>
                    <buyerorders>
                        <type>singleton</type>
                        <class>Lomedic_BuyerOrders_Model_Observer</class>
                        <method>beforePlaceOrder</method>
                    </buyerorders>
                </observers>
            </sales_convert_quote_address_to_order>
            <sales_order_save_after>
                <observers>
                    <buyerorders>
                        <type>singleton</type>
                        <class>Lomedic_BuyerOrders_Model_Observer</class>
                        <method>afterPlaceOrder</method>
                    </buyerorders>
                </observers>
            </sales_order_save_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <batch_number />
                        <expiration_date />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <batch_number>
                    <to_order_item>*</to_order_item>
                </batch_number>
                <expiration_date>
                    <to_order_item>*</to_order_item>
                </expiration_date>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <batch_number>
                    <to_quote_item>*</to_quote_item>
                </batch_number>
                <expiration_date>
                    <to_quote_item>*</to_quote_item>
                </expiration_date>
            </sales_convert_order_item>
            <sales_convert_quote_address>
                <seller_name>
                    <to_order>*</to_order>
                </seller_name>
            </sales_convert_quote_address>
            <sales_convert_order>
                <seller_name>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </seller_name>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <Lomedic_BuyerOrders before="Mage_Sales">Lomedic_BuyerOrders</Lomedic_BuyerOrders>
                    </modules>
                </args>
            </sales>
        </routers>
        <layout>
            <updates>
                <buyerorders>
                    <file>buyerorders.xml</file>
                </buyerorders>
            </updates>
        </layout>
    </frontend>
</config>
