<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2015, Мedic Joint.
 * Developed by Softeq Development Corp. for Lomedic S.A..
 */
-->
<config>
    <modules>
        <Lomedic_Catalog>
            <version>1.0.0.0</version>
        </Lomedic_Catalog>
    </modules>
    <global>
        <helpers>
            <locatalog>
                <class>Lomedic_Catalog_Helper</class>
            </locatalog>
        </helpers>
        <blocks>
            <locatalog>
                <class>Lomedic_Catalog_Block</class>
            </locatalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Lomedic_Catalog_Block_Rewrite_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <breadcrumbs>Lomedic_Catalog_Block_Rewrite_Breadcrumbs</breadcrumbs>
                    <!--<product_view>Lomedic_Catalog_Block_Rewrite_Catalog_Product_View</product_view>-->
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <locatalog>
                <class>Lomedic_Catalog_Model</class>
                <resourceModel>locatalog_resource</resourceModel>
            </locatalog>
            <locatalog_resource>
                <class>Lomedic_Catalog_Model_Resource</class>
                <deprecatedNode>locatalog_mysql4</deprecatedNode>
                <entities>
                    <catalog_product_price>
                        <table>vovsky_catalog_product_entity_customer_price</table>
                    </catalog_product_price>
                </entities>
            </locatalog_resource>
            <catalog>
                <rewrite>
                    <product_type>Lomedic_Catalog_Model_Rewrite_Product_Type</product_type>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_collection>Lomedic_Catalog_Model_Rewrite_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            </models>
        <resources>
            <locatalog_setup>
                <setup>
                    <module>Lomedic_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </locatalog_setup>
            
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Lomedic_Catalog>
                    <files>
                        <default>Lomedic_Catalog.csv</default>
                    </files>
                </Lomedic_Catalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <locatalog>
                    <file>locatalog.xml</file>
                </locatalog>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <locatalog>
                <use>standard</use>
                <args>
                    <module>Lomedic_Catalog</module>
                    <frontName>catalog</frontName>
                </args>
            </locatalog>
        </routers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <locatalog_product_blockafter>
                        <class>locatalog/observer</class>
                        <method>loadblockAfter</method>
                    </locatalog_product_blockafter>
                </observers>
            </core_block_abstract_to_html_after>
            <catalog_product_is_salable_after>
                <observers>
                    <locatalog_product_salable>
                        <class>locatalog/observer</class>
                        <method>isProductSalable</method>
                    </locatalog_product_salable>
                </observers>
            </catalog_product_is_salable_after>
            <catalog_controller_product_init>
                <observers>
                    <locatalog_product_init>
                        <class>locatalog/observer</class>
                        <method>frontendProductInit</method>
                    </locatalog_product_init>
                </observers>
            </catalog_controller_product_init>
            <catalog_product_load_after>
                <observers>
                    <customerprice>
                        <class>locatalog/observer</class>
                        <method>addCustomerPrice</method>
                    </customerprice>
                </observers>
            </catalog_product_load_after>
        </events>
        <translate>
            <modules>
                <Lomedic_Catalog>
                    <files>
                        <default>Lomedic_Catalog.csv</default>
                    </files>
                </Lomedic_Catalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <locatalog>
                    <file>locatalog.xml</file>
                </locatalog>
            </updates>
        </layout>
    </frontend>
    <default>
    </default>
</config>