<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2015, Мedic Joint.
 * Developed by Softeq Development Corp. for Lomedic S.A..
 */
-->
<config>
    <modules>
        <Lomedic_SellerCatalog>
            <version>1.0.0.10</version>
        </Lomedic_SellerCatalog>
    </modules>
    <global>
        <helpers>
            <loseller>
                <class>Lomedic_SellerCatalog_Helper</class>
            </loseller>
        </helpers>
        <blocks>
            <loseller>
                <class>Lomedic_SellerCatalog_Block</class>
            </loseller>
            <marketplace>
                <rewrite>
                    <marketplace>Lomedic_SellerCatalog_Block_Rewrite_Marketplace</marketplace>
                    <newproduct>Lomedic_SellerCatalog_Block_Rewrite_Newproduct</newproduct>
                    <adminhtml_partners_grid>Lomedic_SellerCatalog_Block_Rewrite_Adminhtml_Partners_Grid</adminhtml_partners_grid>
                    <adminhtml_products_grid>Lomedic_SellerCatalog_Block_Rewrite_Adminhtml_Products_Grid</adminhtml_products_grid>
                </rewrite>
            </marketplace>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_inventory>Lomedic_SellerCatalog_Block_Rewrite_Adminhtml_Catalog_Product_Edit_Tab_Inventory</catalog_product_edit_tab_inventory>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <loseller>
                <class>Lomedic_SellerCatalog_Model</class>
                <resourceModel>loseller_resource</resourceModel>
            </loseller>
            <loseller_resource>
                <class>Lomedic_SellerCatalog_Model_Resource</class>
                <deprecatedNode>loseller_mysql4</deprecatedNode>
                <entities>
                    <goverment_catalog>
                        <table>lomedic_goverment_catalog</table>
                    </goverment_catalog>
                </entities>
            </loseller_resource>
            <marketplace>
                <rewrite>
                    <producttypemp>Lomedic_SellerCatalog_Model_Rewrite_Marketplace_Producttypemp</producttypemp>
                    <product>Lomedic_SellerCatalog_Model_Rewrite_Marketplace_Product</product>
                </rewrite>
            </marketplace>
        </models>
        <resources>
            <loseller_setup>
                <setup>
                    <module>Lomedic_SellerCatalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </loseller_setup>
        </resources>
        <events>
            <catalog_product_delete_before>
                <observers>
                    <loregistration>
                        <class>loseller/observer</class>
                        <method>deleteBatchesAfterProduct</method>
                    </loregistration>
                </observers>
            </catalog_product_delete_before>
            <mp_bundalproduct>
                <observers>
                    <loseller>
                        <class>Lomedic_SellerCatalog_Model_Observer</class>
                        <method>loadNewBatchLayout</method>
                    </loseller>
                </observers>
            </mp_bundalproduct>
            <controller_action_predispatch_marketplace_marketplaceaccount_simpleproduct>
                <observers>
                    <loseller>
                        <class>Lomedic_SellerCatalog_Model_Observer</class>
                        <method>saveSimpleProduct</method>
                    </loseller>
                </observers>
            </controller_action_predispatch_marketplace_marketplaceaccount_simpleproduct>
        </events>
        <catalog>
            <product>
                <type>
                    <batch translate="label" module="loseller">
                        <label>Batch</label>
                        <model>loseller/product_type_batch</model>
                        <is_qty>1</is_qty>
                        <index_data_retreiver>loseller/catalogIndex_data_batch</index_data_retreiver>
                        <price_model>locatalog/catalog_product_type_price</price_model>
                        <composite>0</composite>
                    </batch>
                </type>
            </product>
        </catalog>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lomedic_SellerCatalog before="Mage_Adminhtml">Lomedic_SellerCatalog_Adminhtml</Lomedic_SellerCatalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Lomedic_SellerCatalog>
                    <files>
                        <default>Lomedic_SellerCatalog.csv</default>
                    </files>
                </Lomedic_SellerCatalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <loseller>
                    <file>loseller.xml</file>
                </loseller>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <loseller>
                <use>standard</use>
                <args>
                    <module>Lomedic_SellerCatalog</module>
                    <frontName>seller</frontName>
                </args>
            </loseller>
        </routers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <loseller>
                        <class>loseller/observer</class>
                        <method>changeMarketplaceProductListTemplate</method>
                     </loseller>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <translate>
            <modules>
                <Lomedic_SellerCatalog>
                    <files>
                        <default>Lomedic_SellerCatalog.csv</default>
                    </files>
                </Lomedic_SellerCatalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <loseller>
                    <file>loseller.xml</file>
                </loseller>
            </updates>
        </layout>
    </frontend>
    <default>
    </default>
</config>